[submodule "plugins/ipynb"]
	path = plugins/ipynb
	url = git://github.com/danielfrg/pelican-ipynb.git
[submodule "plugins/bootswatch_markdown_css"]
	path = plugins/bootswatch_markdown_css
	url = https://github.com/yuex/bootswatch_markdown_css
[submodule "pelican-plugins"]
	path = pelican-plugins
	url = git://github.com/getpelican/pelican-plugins.git
